<div class="row op-container justify-content-center">
    <div class="col-lg-8 option-container">
        <img class="profile-pic" src="{{user.picture}}" alt="Profile picture">
        <h1 class="card-title text-light">¡Hola, {{user.name}}!</h1>
    </div>
    <div class="col-md-4 option-container myPost">
        <img class="img-options" src="/images/corazon.svg" alt="Marker heart icon">
        <h1 class="text-light text-center">Mis tiendas</h1>
        {{#each user.store}}
        <ul class="profile-places">
            <a class="myItems" href="/places/details/{{_id}}"><li class="myItems">{{name}}</li></a>
        </ul>
        {{/each}}
        <a href="/places/new"><button type="button" class="btn btn-back btn-light btn-lg">Añadir más</button></a>
    </div>

    <div class="col-md-4 option-container myPost">
        <img class="img-options"  src="/images/vinilos.svg" alt="Vinyls icon">
        <h1 class="text-light text-center">Mis vinilos</h1>
        <div>

        {{#each user.vinyl}}
        <ul>
            <a class="myItems" href="/shop/details/{{_id}}"><li class="myItems">{{title}}</li></a>
        </ul>
        {{/each}}
        </div>
  <a href="/shop/new"><button type="button" class="btn btn-back btn-light btn-lg">Añadir más</button></a>
    </div>
</div>
