<div class="row">
    <div class="col-md">
        <h2>Más info sobre {{place.name}}</h2>
    </div>
</div>

<div class="card" style="width: 50rem;">
    <div class="card-header text-dark">
        <h5><strong>{{place.name}}</strong></h5>
    </div>
    <ul class="list-group list-group-flush text-dark">
        <li class="list-group-item"><strong>Género: </strong>{{place.genre}}</li>
        <li class="list-group-item"><strong>Rating: </strong>{{place.rating}}</li>
        {{!-- <li class="list-group-item"><strong>Dirección: </strong>{{place.location.coordinates.[0]}},{{location.coordinates.[1]}}</li> --}}
        <li class="list-group-item"><strong>Descripción: </strong>{{place.description}}</li>
    </ul>
</div>
{{#if isAuthor}}
<a href="/places/edit?id={{place.id}}"><button type="button" class="btn btn-success btn-sm">Editar</button></a>
  <form action="/places/{{place.id}}/delete" method="POST">
      <button class="btn btn-danger btn-sm" type="submit">Borrar</button>
  </form>
{{/if}}
<a href="/places"><button type="button" class="btn btn-dark btn-back-list">Volver atrás</button></a>