
<div class="place-detail-container">
    <div class="row">
        <div class="col-md">
            <h2 class="title-view title-det"><span>{{place.name}}</span></h2>
            <p class="description-place">{{place.description}}</p>
            <p class="description-place">Rating: {{place.rating}}</p>
            <p class="description-place"><strong>Género: </strong>{{place.genre}}</p>
        </div>
        
        <div class="row">
            <div class="col-md-2">
                {{#if isAuthor}}
                <a href="/places/edit?id={{place.id}}"><button type="button" class="btn btn-light btn-new edit-btn btn-sm">Editar</button></a>
            </div>
        </div>
        <div class="col-md-2">
            <form action="/places/{{place.id}}/delete" method="POST">
                <button class="btn btn-danger btn-del btn-new btn-sm" type="submit">Borrar</button>
            </form>
            {{/if}}
        </div>

    </div>
</div>
    <a href="/places"><button type="button" class="btn btn-light btn-back ">Volver atrás</button></a>