<div class="container coasters-index">

    <h1 style="font-weight: 100">{{title}}</h1>


    <img src='{{picture}}' alt="album cover" >
    

    <h4>Descripción</h4>
    <p>{{description}}</p>
    <p><strong>Género: </strong> {{genre}} | <strong>Estado: </strong> {{condition}} | <strong>Precio: </strong> {{price}}$</p>
    <hr>
    <p>Vendedor: {{location}}</p>
    <a href="/shop" class="btn btn-dark">Volver a la tienda</a>

</div>