<div class="container">

    <h1 class="title-view">{{product.title}}</h1>

    <div class="row details">
        <div class="col-md-6">
            <img src='{{product.picture}}' alt="album cover">
        </div>

        <div class="col-md-6">
            <figure id="myMap" class="square"></figure>
        </div>
    </div>

    
    <h4>{{product.description}}</h4>
    <h5><strong>Género: </strong> {{product.genre}} | <strong>Estado: </strong> {{product.condition}} | <strong>Precio: </strong> {{product.price}}$</h5>
    <hr>
    <p>Vendedor: {{product.location.coordinates.[0]}}, {{product.location.coordinates.[1]}}</p>
    <hr>
    {{#if user}}
    <form method="POST" action="/shop/{{product.id}}/delete">
        <button type="submit" class="btn btn-primary btn-danger">Borrar</button>
    </form>
    <form method="GET" action="/shop/buy/{{product.id}}">
        <button type="submit" class="btn btn-primary btn-success">Comprar</button>
    </form>
    <a href="/shop/edit?id={{product.id}}" class="btn btn-warning">Editar</a>
    <br>
    {{/if}}
    {{!-- {{#if !user}}
    <p>Haz log in para comprar el producto</p>
    {{/if}} --}}
    <a href="/shop" class="btn btn-dark">Volver a la tienda</a>


</div>