<div class="title">
    <div class="col text-center">
        <h1 class="title-view">Tienda</h>
    </div>
    <div>
        <a href="/shop/new" class="btn btn-light">Publicar nuevo</a>
        <a href="/" class="btn btn-light">Volver a Inicio</a>

    </div>
</div>

<div class="row shop-items">
{{#each allProducts}}
    <div class="col-md-3 products">
        <div class="card product" style="width: 18rem;">
        <img class="card-img-top" src="{{picture}}" alt="Foto vinyl">
        <div class="card-body">
            <h5 class="card-title">{{title}}<hr>{{artist}}</h5>
            <p class="card-text">Género: {{genre}}</p>
            <p class="card-text">Precio: {{price}}$</p>
            <label for="card-text">Condición: {{condition}}</label>
            <br>
            <a href="/shop/details/{{id}}" class="btn btn-dark">Ver detalles</a>
            
        </div>
        </div>
    </div>
{{/each}}
</div>
    