<h1 class="title-view">Para completar tu compra, contacta con el vendedor:</h1>

    <div class="row justify-content-center login">

        <div class="col-md-6">
            <div class="buying">
                <h2>{{buyProduct.title}} - {{buyProduct.artist}}</h2>
                <img src='{{buyProduct.picture}}' alt="album cover">
                <h2>{{buyProduct.price}}$</h2>
            </div>
           
            <form action="/shop/buy/{{buyProduct.id}}" method="post"> 
                <div class="form-group">
                    <label for="field1">{{user.username}}, envía un mensaje a {{buyProduct.creator.username}} para concretar los detalles de la compra. {{buyProduct.creator.username}} recibirá tu email y se pondrá en contacto contigo.</label>
                    <textarea name="message" class="form-control message-field" id="field1" ></textarea>
                </div>
                <input id="field2" name="username" type="hidden" value="{{user.username}}" >
                <input id="field3" name="email" type="hidden" value="{{user.email}}">
                <input id="field4" name="creatorEmail" type="hidden" value="{{buyProduct.creator.email}}">
                <input id="field5" name="title" type="hidden" value="{{buyProduct.title}}">
                <input id="field6" name="artist" type="hidden" value="{{buyProduct.artist}}">
                <button type="submit" class="btn btn-login btn-success btn-block btn-lg">Contactar con el vendedor</button>
            </form>

        </div>
    </div>
