<div class="container product-details">

    <h1 class="title-view">{{product.title}}</h1>

    <div class="row details">
        <div class="col-md img-detail">
            <img class="img-detail" src='{{product.picture}}' alt="album cover">
        </div>

        <div class="col-md">
            <h2 class="title-view">{{product.title}}</h2>
            <h5><strong>Artista: </strong> {{product.artist}}</h5>
            <h5><strong>Descripción: </strong> {{product.description}}</h5>
            <h5><strong>Género: </strong> {{product.genre}}</h5>
            <h5><strong>Condición: </strong> {{product.condition}}</h5>
            <h5><strong>Precio: </strong> {{product.price}}$</h5>
            <a href="/shop/edit?id={{product.id}}" class="btn btn-light btn-edit">Editar</a>
            <form method="POST" action="/shop/{{product.id}}/delete">
                <button type="submit" class="btn btn-primary btn-danger">Borrar</button>
            </form> 
        </div>

        <div class="col-md-6">
            <div class="col">
            <h4><strong>Ubicación del vendedor</strong></h4>
                <figure id="myMap" class="shop-map"></figure>
            </div>
        </div>
    </div>

    {{#if user}}
    <form method="GET" action="/shop/buy/{{product.id}}">
        <button type="submit" class="btn btn-buy btn-success btn-back btn-block">Comprar</button>
    </form>
    {{/if}}
</div>
    <a href="/shop" class="btn btn-back btn-light">Volver a la tienda</a>


