<div class="title">
    <div class="col text-center">
        <h2>Tienda</h2>
    </div>
    <div>
        <a href="/shop/new" class="btn btn-danger">Vende tus vinilos</a>
        <a href="/shop/edit" class="btn btn-danger">Edita tu producto</a>
    </div>
</div>

<div class="row">
{{#each allProducts}}
    <div class="col-md-3 products">
        <div class="card product" style="width: 18rem;">
        <img class="card-img-top" src="{{picture}}" alt="Foto vinyl">
        <div class="card-body">
            <h5 class="card-title">{{title}}<hr>{{artist}}</h5>
            <p class="card-text">Género: {{genre}}</p>
            <p class="card-text">Precio: {{price}}$</p>
            <label for="card-text">Condición: {{condition}}</label>
            {{!-- <select name="park" class="form-control" id="condition-list">
                <option>Seleccionar</option>
                <option value="Nuevo">Nuevo</option>
                <option value="Perfecto Estado">Perfecto Estado</option>
                <option value="Buen Estado" selected>Buen Estado</option>
                <option value="Usado">Usado</option>
            </select> --}}
            <br>
            <a href="/shop/details/{{id}}" class="btn btn-dark">Ver detalles</a>
        </div>
        </div>
    </div>
{{/each}}
</div>
    